<clr-modal [(clrModalOpen)]="openSignIn">
    <h3 class="modal-title">Sign In</h3>
    <div class="modal-body">
        <form clrForm [formGroup]="form" class="clr-form clr-form-horizontal">
            <clr-input-container>
                <label>Host</label>
                <input clrInput formControlName="host" />
                <clr-control-helper>host</clr-control-helper>
                <clr-control-error *clrIfError="'required'">[Host] Required</clr-control-error>
            </clr-input-container>
        </form>
      <p>Ah ah ah! You didn't say the magic word! Please Sign In!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="openSignIn = false">Sign In</button>
    </div>
  </clr-modal>