<clr-modal [(clrModalOpen)]="openSignIn">
    <h3 class="modal-title">Sign In</h3>
    <div class="modal-body">
        <form clrStepper [formGroup]="form" class="clr-form clr-form-horizontal">

            <clr-stepper-panel formGroupName="connection">
                <clr-step-title>Connection</clr-step-title>
                <clr-step-description>
                    <clr-icon shape="disconnect"></clr-icon>
                </clr-step-description>
                <clr-step-content *clrIfExpanded>
                    <clr-input-container>
                        <label>Host</label>
                        <input clrInput formControlName="host" />
                        <clr-control-helper>host</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">[Host] Required</clr-control-error>
                    </clr-input-container>
        
                    <clr-input-container>
                        <label>Port</label>
                        <input clrInput formControlName="port" />
                        <clr-control-helper>port</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">[Port] Required</clr-control-error>
                    </clr-input-container>
                </clr-step-content>
            </clr-stepper-panel>

            <clr-stepper-panel formGroupName="signin">
                <clr-step-title>Sign-in</clr-step-title>
                <clr-step-description>
                    <clr-icon shape="badge"></clr-icon>
                </clr-step-description>
                <clr-step-content *clrIfExpanded>
                    <clr-input-container>
                        <label>Username</label>
                        <input clrInput formControlName="username" />
                        <clr-control-helper>username</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">[Username] Required</clr-control-error>
                    </clr-input-container>
        
                    <clr-input-container>
                        <label>Password</label>
                        <input clrInput formControlName="password" />
                        <clr-control-helper>password</clr-control-helper>
                        <clr-control-error *clrIfError="'required'">[Password] Required</clr-control-error>
                    </clr-input-container>
                </clr-step-content>
            </clr-stepper-panel>

            
        </form>
      <p>Ah ah ah! You didn't say the magic word! Please Sign In!</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="openSignIn = false; authenticate();">close</button>
        <button type="button" class="btn btn-primary" (click)="authenticate();">Sign In</button>
    </div>
  </clr-modal>